* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #DCD9D4;
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

.main__title {
    text-align: center;
    margin-top: 40px;
}

.sub__title,
.ref__date {
    text-align: center;
    margin-bottom: 4px;
}

.ref__date {
    font-weight: 400;
}

.list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 80px 32px;
}

.list div h2 {
    font-size: 18px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}

.list div img {
    filter: grayscale(100%);
    opacity: .8;
    cursor: pointer;
}

.list div img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

/* MODAL */

.close__modal{
    position: absolute;
    font-size: clamp(16px, 3vw, 20px);
    right: 16px;
    top: 8px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
}

.modal__container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    width: 95%;
}

.modal__content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    background-color: #CDDCDC;
    background-image: radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
    background-blend-mode: screen, overlay;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 16px;
}

.modal__content img {
    margin-top: 12px;
    max-width: 240px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
}

.modal__first__infos h5 {
    font-weight: 500;
    color: #494949;
}

.modal__second__infos {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal__second__infos h3,
p,
.modal__second__infos h5 {
    font-weight: 400;
    font-size: clamp(16px, 4vw, 18px);
}

.modal__second__infos ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    list-style: none;
    gap: 12px;
    font-size: 14px;
}

.modal__second__infos ul li a {
    text-decoration: none;
    color: #2181db;
}

span {
    font-weight: 600;
}